html,
body {
  text-align: center;
  color: white;
  background-color: #21232a;
  font-family: Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 70px;
}

button {
  font: 1.5rem sans-serif;
  margin-right: 15px;
  padding: 10px;
}
